/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #FFC2E6;
  --text-shadow-color:#FF8DCB;
  --bg-subtitle-color:#FF8DCB;
  --bg-header-color:#FF8DCB;
  --main-text:#353430;
  --main-title-color:#FF0070;
  --bg-page:#fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --header-paragraph-bg:#FF8DCB;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
