:root {
  --title-color: #DB00FF;
  --text-shadow-color:#FF0070;
  --bg-subtitle-color:#FF0070;
  --bg-header-color:#FF0070;
  --main-text:#F1B2CE;
  --main-title-color:#FF0070;
  --bg-page:#000028;
  --bg-image: url(../images/cover-image-dark.png);
  --header-paragraph-bg:#FF0070;
  --decorated-border:#FF0070;
  --focus-dec:#FF0070;
  --button-text-color:#FF0070;
  --button-border:#FF0070;
  --vision:visible;
  --hr-oppacity:#FF007066;
  --title-text-color:#000028;
  --link-hover:#F1B2CE;
  --link-focus:#F1B2CE;
}
